<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">마이페이지</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">아이디</span>
                        </div>
                        <div class="h4 form-control" th:text="${member.memberName}"></div>
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">이메일</span>
                        </div>
                        <div class="h4 form-control" th:text="${member.email}"></div>
                        <a th:href="@{/members/profile/email}" class="btn btn-primary">이메일 변경</a>
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">닉네임</span>
                        </div>
                        <div class="h4 form-control" th:text="${member.nickname}"></div>
                        <a th:href="@{/members/profile/nickname}" class="btn btn-primary">닉네임 변경</a>
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">생성일</span>
                        </div>
                        <div class="h4 form-control" th:text="${member.createdAt}"></div>
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">회사</span>
                        </div>
                        <div th:if="not ${#strings.isEmpty(member.company)}" class="h4 form-control" th:text="${member.company.companyName}"></div>
                        <div th:if="${#strings.isEmpty(member.company)}" class="h4 form-control">없음</div>
                        <a th:href="@{/companies}" class="btn btn-primary">연동</a>
                    </div>

                    <br/>
                    <div style="text-align: center">
                        <a th:href="@{/members/profile/password}" class="btn btn-primary">비밀번호 변경</a>
                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>