<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">게시글</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <input type="hidden" id="postId" th:id="postId" th:value="${post.id}">
                    <div>
                        <div class="h4" th:text="${post.title}"></div>
                        <hr class="my-4">

                        <table>
                            <td th:text="'작성자: ' + ${post.createdBy}"></td>
                            <td th:text="' | 등록일: ' + ${post.createdAt}"></td>
                        </table>

                        <hr class="my-4">

                        <div class="jumbotron mgt-30">
                            <p class="lead" th:text="${post.content}"></p>
                        </div>
                        <a th:href="'/posts/'+${post.id}+'/edit'" class="btn btn-primary">수정</a>
                        <button type="button" class="btn btn-primary" th:data-id="${post.id}" onclick="deletePost(this)">삭제</button>
                    </div>

                    <div class="input-group text-center mt-3">
                        <textarea class="form-control" aria-label="With textarea" th:id="saveCommentContent"></textarea>
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-primary" th:data-id="${post.id}" onclick="saveComment(this)">댓글 작성</button>
                        </div>
                    </div>

                    </br>

                    <div th:each="comment : ${comments}" class="mb-3">
                        <span class="h5" th:text="${comment.createdBy}"></span><br/>
                        <span th:text="${comment.createdAt}"></span>
                        <th:block th:if="${comment.createdBy} == ${#authentication.name}">
                            <button type="button" class="btn btn-primary" data-bs-toggle="collapse" th:attr="data-bs-target=|#updateComment_${comment.id}">
                                수정
                            </button>
                            <button type="button" class="btn btn-primary" th:data-id="${comment.id}" onclick="deleteComment(this)">삭제</button>
                        </th:block>
                        <div class="collapse" th:id="'updateComment_' + ${comment.id}">
                            <div class="input-group">
                                <textarea class="form-control" aria-label="With textarea" th:id="'updateCommentContent_' + ${comment.id}"></textarea>
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-primary" th:data-id="${comment.id}" onclick="updateComment(this)">수정</button>
                                </div>
                            </div>
                        </div>
                        <br/><br/>
                        <span th:text="${comment.content}"></span><br/><br/>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>