<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="sidebarFragment">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">GD Admin</div>
        </a>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Menus
        </div>

        <div sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/members/profile/' + ${#authentication.name}}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>마이페이지</span>
                </a>
            </li>
        </div>

        <div sec:authorize="hasRole('ROLE_SUPERADMIN')">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/superadmins/new}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>관리자 회원가입</span>
                </a>
            </li>
        </div>

        <div sec:authorize="hasRole('ROLE_SUPERADMIN')">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/superadmins/companies}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>회사 리스트</span>
                </a>
            </li>
        </div>

        <div sec:authorize="hasRole('ROLE_SUPERADMIN')">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/superadmins/admins}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>관리자 리스트</span>
                </a>
            </li>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admins}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>관리자 리스트</span>
                </a>
            </li>
        </div>

        <div sec:authorize="hasRole('ROLE_SUPERADMIN')">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/superadmins/members}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>회원 리스트</span>
                </a>
            </li>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admins/members}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>회원 리스트</span>
                </a>
            </li>
        </div>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/posts}">
                <i class="fas fa-fw fa-table"></i>
                <span>게시판</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/companies/new}">
                <i class="fas fa-fw fa-table"></i>
                <span>회사 등록</span>
            </a>
        </li>

    </ul>

</th:block>

</html>