<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="text-center">
            </br></br></br></br></br></br></br></br>
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Page Not Found</p>
            <a href="/">&larr; Back to Main</a>
        </div>
    </div>
</th:block>
</html>
